# vim swap files
*.swp

# Property of Memorial University, do not track.
/1710_A3_S15_DISTANCE.pdf

# Don't really need to include the Intellij project files.
.idea/
*.iml

# Ugh, binaries
/out/
*.class
*.jar
*.pdf

# Needs to be in a .zip to submit. Check README.md for instructions on how to make one.
*.zip